data
*.pyc
*/*.pyc
*/*/*.pyc
.*.swp
*.pth.tar
*.png
SAN/test_utils/Generate_*.sh
./cache_data/*.lst
Temp*.sh
SAN/cache_data/lists
SAN/snapshots
SAN/cache_data/challenging.pdf
SAN/cache_data/common.pdf
SAN/cache_data/full.pdf
SAN/cache_data/__pycache__/
SAN/lib/cluster/__pycache__/
SAN/lib/datasets/__pycache__/
SAN/lib/debug/__pycache__/
SAN/lib/models/__pycache__/
SAN/lib/options/__pycache__/
SAN/lib/procedure/__pycache__/
SAN/lib/san_vision/__pycache__/
SAN/lib/utils/__pycache__/
SAN/lib/visualization/__pycache__/
SAN/cache_data/cache/300W/
SAN/cache_data/cache/AFLW/
SAN/__pycache__/
*.zip
*.pdf
SAN/datasets/
video
